.c-item {
  height: 580px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: saturate(125%) contrast(125%);
}

.c-video {
  height: 120%;
  object-fit: cover;
  filter: saturate(125%) contrast(125%);
}

/*estilos categorias*/
.img-container {
  height: 90vh; /* Asegura que las imágenes ocupen toda la altura de la pantalla */
  overflow: hidden;
  position: relative;
}

.img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}

.img-container:hover {
  filter: brightness(1.5);
}
